md-card.menu-order(layout='column' layout-align='stretch center')
  md-card(ng-class='{ "warning-card":  menu.growler }' ng-repeat='growler in menu.growlerList track by $index')
    md-card-header(layout='column')
      md-card-header-text.menu-item.md-card-header-text(layout='column' layout-gt-xs='row' layout-align='start start')
        .menu-item.md-card-header-text(layout='column' layout-align='start start')
          h3 {{ growler.name }} ({{growler.remaining}})
          .md-subhead {{ growler.provider.shortName || growler.provider.name}} - Total R${{ (growler.unitPrice * (growler.qtd || 0)).toFixed(2)}} - Unit: R${{ growler.unitPrice }}
          span.warning-text(ng-if='menu.growler').md-subhead Oferecer Growler
      div(layout='row'  layout-align='start start')
        md-button.md-primary.md-raised(aria-label='Adicionar Growler Pl치stico' ng-click='menu.addGrowler(growler)' ng-disabled='growler.remaining <= 0')
          md-icon(title='Adicionar Growler Pl치stico') add
        div(layout='column' layout-align='center center')
          .title-label Qtd.
          .md-title {{ growler.qtd || 0}}      
        md-button.md-warn.md-raised(aria-label='Remover Growler Pl치stico' ng-click='menu.removeGrowler(growler)' ng-disabled='!growler.qtd')
          md-icon(title='Remover Growler Pl치stico') remove 
  div(layout='column')
    md-card(ng-repeat="iterator in menu.productSelectedList track by $index")
      md-card-header(layout='column')
        md-card-header-text.menu-item.md-card-header-text(layout='column' layout-align='start start')
          .menu-item.md-card-header-text(layout='column' layout-align='start start')
            div(layout='row')
              h3 {{iterator.name}} - {{iterator.item.name}}
            div(layout='row')
              .md-subhead Total R$:${{ (iterator.unitPrice * (iterator.qtd || 0)).toFixed(2)}} - Unit: R${{ iterator.unitPrice }}
        div(layout='row'  layout-align='end center')
          div(layout='column' layout-align='center center')
            .title-label Qtd.
            .md-title {{ iterator.qtd || 0}}      
    md-input-container(layout-margin ng-if='menu.productList.length')
      md-select(placeholder='Adicionar Produto', ng-model='menu.selectedProduct' name='selected-product')
        md-option(ng-value='iterator' ng-repeat='iterator in menu.productList track by $index') 
          span {{iterator.name}} - {{iterator.item.name}}({{iterator.remaining}}) 
          br
          .md-subhead Un: R${{iterator.unitPrice}} - Total R$:${{ (iterator.unitPrice * (iterator.qtd || 0)).toFixed(2)}} 
    div(layout='column' layout-gt-sm='row' ng-if='menu.productList.length')
      md-button.md-primary.md-raised(aria-label='Adicionar Quantidade do Produto' ng-click='menu.addGrowler(menu.selectedProduct, true)' ng-disabled='!menu.selectedProduct || menu.selectedProduct.remaining <= 0')
        md-icon(title='Adicionar Quantidade do Produto') add
      div(layout='column' layout-align='center center')
        .title-label Qtd.
        .md-title {{menu.selectedProduct.qtd || 0}}
      md-button.md-warn.md-raised(aria-label='Remover Quantidade do Produto' ng-click='menu.removeGrowler(menu.selectedProduct, true)' 
        ng-disabled='!menu.selectedProduct || !menu.selectedProduct.qtd || menu.selectedProduct.qtd === 0')
        md-icon(title='Remover Quantidade do Produto') remove       